name: Publish Package

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: Release
    permissions:
      contents: write
      id-token: write

    steps:
      - name: 检出代码
        uses: actions/checkout@v5

      - name: 安装包子
        uses: oven-sh/setup-bun@v2

      - name: 设置 Node 的版本
        uses: actions/setup-node@v5
        with:
          node-version: 25
          registry-url: 'https://registry.npmjs.org'
          cache: 'bun'

      - name: 获取当前的版本号
        run: |
          echo "version=$(jq -r '.version' package.json)" >> "$GITHUB_ENV"
          echo "tag=$(jq -r '.version | (capture("-(?<tag>[^.]+)") // {}) | .tag // "latest"' package.json)" >> "$GITHUB_ENV"
          echo "prerelease=$(jq -r '.version | test("-")' package.json)" >> "$GITHUB_ENV"

      - name: 打印信息
        run: |
          echo "version: ${{ env.version }}"
          echo "tag: ${{ env.tag }}"
          echo "prerelease: ${{ env.prerelease }}"

      - name: 安装依赖
        run: bun i

      - name: 构建代码
        run: bun run build

      - name: 发布版本
        run: bun publish --provenance --no-git-checks --access=public --tag ${{ env.tag }}
        env:
          NODE_AUTH_TOKEN: '${{secrets.SECRET_NPM_TOKEN}}'

      - name: 打个标签
        uses: ncipollo/release-action@v1
        with:
          tag: 'v${{ env.version }}'
          draft: false
          prerelease: ${{ env.prerelease }}
          allowUpdates: true
          generateReleaseNotes: true
          token: ${{ secrets.GITHUB_TOKEN }}
